.combobox__label {
    display: block;

    margin-bottom: 0.5rem;

    font-size: 1.25rem;
}

.inner-combobox {
    background-image: linear-gradient(92.97deg, rgba(155, 204, 80, 0.25) 0%, rgba(253, 125, 36, 0.25) 35.42%, rgba(243, 102, 185, 0.25) 67.71%, rgba(238, 213, 53, 0.25) 100%);

    width: 100%;

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 1rem 1.5rem;

    box-sizing: border-box;

    font-size: 1.5rem;
}