.create-pokemon-form {
    background-color: white;

    width: 300px;

    margin: 2.5rem auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.20);
    padding: 2rem 2.5rem;
}

    .create-pokemon-form__submit-button {
        background-color: #C6FFC1;

        width: 100%;

        display: block;

        margin-top: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 1rem;

        font-size: 1.25rem;

        cursor: pointer;
        transition: all 0.1s;
    }

        .create-pokemon-form__submit-button:hover {
            background-color: #a3cfa0;
        }